{% extends 'layout.html' %}

{%block content %}
    <h3>Users Listing</h3>

    <div id="user-listing">

    </div>
    
    <div id="user-listing-with-csrf">

    </div>

    <!-- {% csrf_token %} -->
{% endblock %}

{%block script %}
<script>
    // url = 'http://localhost:8000/api/users'
    // options = {
    //     method: 'get', 
    //     headers: new Headers({
    //         'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTk0MDI2NTkxLCJqdGkiOiJkN2VmNThjMWNiOTI0ZGJmOWIwYTQzMGU1ODY0MmM2MSIsInVzZXJfaWQiOjJ9.oOIGTGu2DktjysfFNctMUJrHQsOwZiYj2DAaF0tqN50', 
    //         'Content-Type': 'application/x-www-form-urlencoded'
    //     }),
    // }
    // fetch(url, options)
    // .then((resp) => resp.json())
    // .then(function(data) {
    //     users_listing = ""
    //     records = data;
    //     records.map((record) => {
    //         users_listing += `
    //             <div class="row border-bottom">
    //             <div class="col">${record.id}</div>
    //             <div class="col">${record.name}</div>
    //             <div class="col">${record.age}</div>
    //             <div class="col">${record.city}</div>
    //             </div>
    //         `
    //     })

    //     document.querySelector("#user-listing").innerHTML = users_listing
    // })

    // function getCookie(name) {
    //     let cookieValue = null;
    //     if (document.cookie && document.cookie !== '') {
    //         const cookies = document.cookie.split(';');
    //         for (let i = 0; i < cookies.length; i++) {
    //             const cookie = cookies[i].trim();
    //             // Does this cookie string begin with the name we want?
    //             if (cookie.substring(0, name.length + 1) === (name + '=')) {
    //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //                 break;
    //             }
    //         }
    //     }
    //     return cookieValue;
    // }
    // const csrftoken = getCookie('csrftoken');


    url = 'http://localhost:8000/api/userspost/'
    options = {
        method: 'post', 
        headers: new Headers({
            'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTk0MDMxMDY0LCJqdGkiOiJhYzU4Y2E3NzZiYmE0ZGExYmNhZDI2ZWQ1MmM4MGM5NCIsInVzZXJfaWQiOjJ9.Gx0z3D4XPd52ukAAl1RGIF9T4XNSjbdlu9dS511NKe8', 
            'Content-Type': 'application/x-www-form-urlencoded'
        }),
    }
    fetch(url, options)
    .then((resp) => resp.json())
    .then(function(data) {
        users_listing = ""
        records = data;
        records.map((record) => {
            users_listing += `
                <div class="row border-bottom">
                <div class="col">${record.id}</div>
                <div class="col">${record.name}</div>
                <div class="col">${record.age}</div>
                <div class="col">${record.city}</div>
                </div>
            `
        })

        document.querySelector("#user-listing-with-csrf").innerHTML = users_listing
    })

</script>
{% endblock %}